.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

#header {

}

#board {
  height: 540px;
  width: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell {
  width: 60px;
  height: 60px;
  background: gray;
  border: solid 1px;
}

.displayIcons {
  height: 30px;
  width: 30px;
  background: url("~/src/assets/images/icons.png") no-repeat;
  backgroundPosition: 300px 0;
  margin: 15px;
}

.displayIcons[data-state] {
  backgroundPosition: 0 0;
}
