.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #333;
}

#objects {
  display: flex;
}

#config {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  padding: 15px !important;
  color: var(--input-configs-color);
  background: #1e1e1e;
  border: 1px solid transparent;
  border-radius: 4px;
}

.inputConfigs {
  padding: 8px;
  margin: 2px 4px;
  color: var(--input-configs-color);
  background-color: inherit;
  border-color: #888;
  border-width: 1px;
  border-radius: 4px;
}

#contents {
  display: flex;
  border-color: var(--border-color-right-and-top) var(--border-color-left-and-bottom)
    var(--border-color-left-and-bottom) var(--border-color-right-and-top);
  border-style: outset;
  border-width: 4px;
}

#main {
  display: flex;
  flex-direction: row;
}

#header {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 70px;
  background: var(--header-background-color);
  border-color: var(--border-color-left-and-bottom) var(--border-color-right-and-top)
    var(--border-color-right-and-top) var(--border-color-left-and-bottom);
  border-style: inset;
  border-width: 5px;
}

.counters {
  display: flex;
  width: 76.875px;
  height: 46.875px;
  margin-top: 5.625px;
  background-color: #000;
}

#bcounter {
  margin-left: 5.625px;
}

#fbutton {
  width: 45.75px;
  height: 45.75px;
  margin: auto;
  background: var(--unopened-cell-color);
  background-image: url('~/src/assets/images/icons.png');
  background-position: -880px;
  background-size: 500px;
  border-color: var(--border-color-right-and-top) var(--border-color-left-and-bottom)
    var(--border-color-left-and-bottom) var(--border-color-right-and-top);
  border-style: outset;
  border-width: 4px;
}

#fbutton:hover:active {
  border-color: inherit !important;
  border-style: outset !important;
}

#tcounter {
  margin-right: 5.625px;
}

@font-face {
  font-family: 'E1234';
  src: url('~/src/assets/fonts/E1234.ttf') format('truetype');
}

.numberCounts {
  flex: 1;
  margin-top: 10px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'E1234';
  font-size: 30px;
  color: red;
  text-align: center;
  background: inherit;
}

#board {
  display: flex;
  flex-flow: row wrap;
  border-color: var(--border-color-left-and-bottom) var(--border-color-right-and-top)
    var(--border-color-right-and-top) var(--border-color-left-and-bottom);
  border-style: inset;
  border-width: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  background: var(--opened-cell-color);
  background-position: 0;
  border: solid 1px var(--opened-cell-border-color);
}

.cell:hover:active {
  background: var(--opened-cell-color) !important;
  background-position: 0 !important;
  border: solid 1px var(--opened-cell-border-color) !important;
}

.cell[data-isgameovercausebomb='true'] {
  background: var(--bomb-cell-color);
  background-position: 0;
}

.cell[data-opening-state='false'] {
  background: var(--unopened-cell-color);
  border-color: var(--border-color-right-and-top) var(--border-color-left-and-bottom)
    var(--border-color-left-and-bottom) var(--border-color-right-and-top);
  border-style: outset;
  border-width: 4px;
}

.displayIcons {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: 300px 0;
  scale: 0.75;
}

.cell[data-opening-state='false'] > .displayIcons {
  margin: -3px;
}

.cell[data-user-input='3'] > .displayIcons {
  background-position: -270px 0 !important;
}

.cell[data-user-input='3'][data-isusrmisreadflagput='true'] {
  background-color: #e69090;
}

.hSidePanels {
  width: 10px;
  background-color: var(--opened-cell-color);
}

.vSidePanels {
  height: 10px;
  background-color: var(--opened-cell-color);
}
